site_name: IBM Agentic AI Bootcamp
site_description: >-
    IBM watsonx Agentic AI Bootcamp, presented by IBM Ecosystem Engineering Lab, Client Engineering.
site_url: https://ibm.github.io/EEL-agentic-ai-bootcamp/docs
site_author: IBM Ecosystem Engineering Lab
repo_url: https://github.com/IBM/EEL-agentic-ai-bootcamp
docs_dir: docs
site_dir: site
edit_uri: edit/main/docs

theme:
    name: material
    palette:
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to light mode
          primary: cyan
          accent: yellow
        - media: "(prefers-color-scheme: light)"
          scheme: default
          toggle:
              icon: material/toggle-switch
              name: Switch to dark mode
          primary: indigo
          accent: deep purple
    font:
        text: IBM Plex Sans
        code: IBM Plex Mono
    language: en
    features:
        - navigation.instant
        - navigation.tracking
        - content.code.copy
use_directory_urls: true
plugins:
    - search:
          lang: en
    - minify:
          minify_html: true
    - mkdocs_pymdownx_material_extras:

extra_css:
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js

markdown_extensions:
    - attr_list
    - admonition
    - toc:
          permalink: true
          toc_depth: 3
    - pymdownx.superfences:
          custom_fences:
              - name: diagram
                class: diagram
                format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.highlight
    - pymdownx.tabbed
    - pymdownx.details
    - pymdownx.arithmatex:
          generic: true
extra_javascript:
    - https://unpkg.com/mermaid@8.8.4/dist/mermaid.min.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra:
    generator: false


nav:
    - Introduction: index.md
    - Show and tell: show-and-tell.md
    - Hands-on labs:
        - Lab 0 - Environment setup : labs/env-setup-lab.md
        - Lab 1 - watsonx Orchestrate Agent Builder (low-code): labs/low-code-lab.md
        - Lab 2 - watsonx Orchestrate Multi-agent (pro-code): labs/pro-code-lab.md
    - Use cases for labs:
        - Low-code:
            - Customer service: 
                - Use case details: use-cases-for-labs/low-code/ai-powered-customer-service/customer-service.md
                - Lab guide: use-cases-for-labs/low-code/ai-powered-customer-service/lab-guide.md
            - Vehicle maintenance: 
                - Use case details: use-cases-for-labs/low-code/automobile/vehicle-maintenance.md
                - Lab guide: use-cases-for-labs/low-code/automobile/lab-guide.md
            - HR use case: 
                - Use case details: use-cases-for-labs/low-code/chro/hr-use-case.md
                - Lab guide: use-cases-for-labs/low-code/chro/lab-guide.md
        - Pro-code:
            - Insurance claim:
                - Pre authorization for cashless hospitalization: 
                    - Use case details: use-cases-for-labs/pro-code/insurance-claim/insurance-claim-pre-authorization.md
                    - Lab guide: use-cases-for-labs/pro-code/insurance-claim/lab-guide.md
                - Post hospitalization claim: 
                    - Use case details: use-cases-for-labs/pro-code/insurance-claim-post/insurance-claim-post-hospitalization.md
                    - Lab guide: use-cases-for-labs/pro-code/insurance-claim-post/lab-guide.md
            - Financial research and analysis: 
                - Use case details: use-cases-for-labs/pro-code/bfsi/financial-research-and-analysis.md
                - Lab guide: use-cases-for-labs/pro-code/bfsi/lab-guide.md
            - Supply chain: 
                - Use case details: use-cases-for-labs/pro-code/supply-chain/supply-chain.md
                - Lab guide: use-cases-for-labs/pro-code/supply-chain/lab-guide.md
    - Demo use cases: 
        - AI Agent Governance: demo-use-cases/governance-demo.md
        - Travel planner: demo-use-cases/travel-planner-demo.md
        - Maximo Workorder Maintenance: demo-use-cases/maximo-workorder-maintenance-demo.md
        - HashiCorp vault: demo-use-cases/hashi-demo.md
    - Conclusion: conclusion.md
    - Troubleshooting: troubleshooting.md
